<!DOCTYPE html>

<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <div class="container">
        <%- include('partials/_header') %>
  <h5><%= shortURL%> </h5>

<form method="POST" action='/urls/<%=shortURL%>/edit'>
<!--         <input type="Edit" id="editURL" placeholder="<%= longURL %>">
 -->
            <input id="editURL" type="url" name="newURL" placeholder="<%= longURL %>" style="width: 300px">


    <input type="submit" value="Submit">

  </form>



</ul>
</div>
</body>
</html>