<!DOCTYPE html>

<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<div class="container">
        <%- include('partials/_header') %>
<ul>

 <% for(let key in url){ %>
  <p><%= url[key] %></p>
<%= key %>
  <a href = "/urls/<%= key %>"> Edit </a>
          <form method="POST" action = '/urls/<%= url %>/delete'>
            <input type="submit" value="Delete">


  </form>


  <% }%>

 <a href="http://localhost:8080/urls/new">Shortening URL</a>
</ul>
</div>

</ul>
</body>
</html>

